[Unit]
Description=MQTT Device Testing Tool
After=network.target

[Service]
ExecStart=/root/MQTTDeviceTestingTool
WorkingDirectory=/root/
Restart=always
User=root

[Install]
WantedBy=multi-user.target
