[Desktop Entry]
Type=Application
Version=1.0
Name=MqttClientTestTool
GenericName=Mqtt Client Test Tool
GenericName[zh_CN]=MQTT 客户端测试工具
GenericName[zh_TW]=MQTT 客戶端測試工具
Comment=Mqtt Client Test Tool
Comment[zh_CN]=这个工具可以帮助您测试设备的 MQTT 连接的稳定性。
Comment[zh_TW]=這個工具可以幫助您測試裝置的 MQTT 連線的穩定性。
Icon=icon.png
Exec=MqttClientTestTool_v1.3.2_Linux64
Terminal=true
Categories=Application;Network;
Keywords=mqtt;
